﻿
@{
    ViewBag.Title = "Notes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <button type="button" class="btn btn-primary btn-xs" id="btnAdd"><i class="fa fa-plus"></i> Add note</button>
                    </div>
                </div>
                <div class="ibox-content" id="iboxTableNotes">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="tblNotes">
                            <thead>
                                <tr>
                                    <th>Note</th>
                                    <th style="width:20%">Status</th>
                                    <th style="width:10%"></th>
                                    <th style="width:10%"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="mdlAdd" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated fadeInDown">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>*@
                <i class="fa fa-plus-square modal-icon"></i>
                <h4 class="modal-title">New note</h4>
                <small class="font-bold">Create a new note record.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form" id="frmAdd" name="frmAdd" class="form-horizontal" autocomplete="off">
                            <div class="form-group">
                                <label class="control-label col-md-3">Note</label>
                                <div class="col-md-9">
                                      <textarea class="form-control" rows="3" id="txtnote" name="txtnote" required autocomplete="off"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="">Status</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="status" name="status" required>
                                        <option value="1">Active</option>
                                        <option value="0">Inactive</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary ladda-button" id="addnote" data-style="expand-left">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="mdlEdit" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content animated fadeInDown">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>*@
                <i class="fa fa-pencil-square modal-icon"></i>
                <h4 class="modal-title">Edit note</h4>
                <small class="font-bold">Edit a note record.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form" id="frmEdit" name="frmEdit" class="form-horizontal" autocomplete="off">
                            <input type="text" class="form-control hidden" id="editid" name="editid" value="" />
                            <div class="form-group">
                                <label class="control-label col-md-3" for="editname">Num. note</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="editnum" name="editnum" disabled autocomplete="off" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="edittxtnote">Note</label>
                                <div class="col-md-9">
                                    <textarea class="form-control" rows="3" id="edittxtnote" name="edittxtnote" required autocomplete="off"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="editstatus">Status</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="editstatus" name="editstatus" required>
                                        <option value="1">Active</option>
                                        <option value="0">Inactive</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary ladda-button" id="editnote" data-style="expand-left">Edit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="mdlsubnotes" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated fadeInDown">
            <div class="modal-header">
           
                <h4 class="modal-title" id="titleSubnote"></h4>
                <small class="font-bold">Subnotes</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="tblSubnotes">
                                <thead>
                                    <tr>
                                        <th>Subnote</th>
                                        <th style="width:20%">Status</th>
                                        <th style="width:10%"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="showaddsubnote"><i class="fa fa-plus"></i> Add subnote</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="mdlAddsubnote" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated fadeInDown">
            <div class="modal-header">
                <i class="fa fa-plus-square modal-icon"></i>
                <h4 class="modal-title">New subnote</h4>
                <small class="font-bold">Create a new subnote record.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form" id="frmAddsub" name="frmAddsub" class="form-horizontal" autocomplete="off">
                            <input type="text" class="form-control hidden" id="idNote" name="idNote" value="" />
                            <div class="form-group">
                                <label class="control-label col-md-3">Subnote</label>
                                <div class="col-md-9">
                                    <textarea class="form-control" rows="3" id="txtsubnote" name="txtsubnote" required autocomplete="off"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="">Status</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="statussub" name="statussub" required>
                                        <option value="1">Active</option>
                                        <option value="0">Inactive</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" id="closeaddsubnote">Close</button>
                <button type="button" class="btn btn-primary ladda-button" id="addsubnote" data-style="expand-left">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="mdlEditSub" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content animated fadeInDown">
            <div class="modal-header">
                <i class="fa fa-pencil-square modal-icon"></i>
                <h4 class="modal-title">Edit subnote</h4>
                <small class="font-bold">Edit a subnote record.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form" id="frmEditSub" name="frmEditSub" class="form-horizontal" autocomplete="off">
                            <input type="text" class="form-control hidden" id="editidsub" name="editidsub" value="" />
                            <div class="form-group">
                                <label class="control-label col-md-3" for="edittxtsubnote">Subnote</label>
                                <div class="col-md-9">
                                    <textarea class="form-control" rows="3" id="edittxtsubnote" name="edittxtsubnote" required autocomplete="off"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="editstatus">Status</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="editstatussub" name="editstatussub" required>
                                        <option value="1">Active</option>
                                        <option value="0">Inactive</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" id="closeeditsubnote">Close</button>
                <button type="button" class="btn btn-primary ladda-button" id="editsubnote" data-style="expand-left">Edit</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/laddaStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/ladda")
    <script src="~/Scripts/Customs/Manager/notes.js"></script>
}


