﻿@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var c1 = "@";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <button type="button" class="btn btn-primary btn-xs" id="btnAdd"><i class="fa fa-plus"></i> Add user</button>
                    </div>
                </div>
                <div class="ibox-content" id="iboxTableUsers">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="tblUsers">
                            <thead>
                                <tr>
                                    <th>Full name</th>
                                    <th>Profile</th>
                                    <th>Username</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="mdlAdd" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated fadeInDown">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>*@
                <i class="fa fa-plus-square modal-icon"></i>
                <h4 class="modal-title">New user</h4>
                <small class="font-bold">Create a new user record.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form" id="frmAdd" name="frmAdd" class="form-horizontal" autocomplete="off">
                            <div class="form-group">
                                <label class="control-label col-md-3">Full name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="fullname" name="fullname" required autocomplete="off" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Username</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="username" name="username" required autocomplete="off" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Password</label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" id="password" name="password" data-toggle="tooltip" data-placement="top" title="The password must have at least one lowercase letter, one uppercase letter, one number, a minimum length of 8 characters and one special character (@c1, #, $, %, ^, &, +, =, -, *, /, !, (, ), ?, ¡)." required autocomplete="off" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="">Status</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="status" name="status" required>
                                        <option value="1">Active</option>
                                        <option value="0">Inactive</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary ladda-button" id="adduser" data-style="expand-left">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="mdlEdit" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content animated fadeInDown">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>*@
                <i class="fa fa-pencil-square modal-icon"></i>
                <h4 class="modal-title">Edit user</h4>
                <small class="font-bold">Edit a user record.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form" id="frmEdit" name="frmEdit" class="form-horizontal" autocomplete="off">
                            <input type="text" class="form-control hidden" id="editid" name="editid" value="" />
                            <div class="form-group">
                                <label class="control-label col-md-3" for="editfullname">Full name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="editfullname" name="editfullname" autocomplete="off" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="editusername">Username</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="editusername" name="editusername" autocomplete="off" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="editpassword">Password</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="password" class="form-control" id="editpassword" name="editpassword" placeholder="Enter new password " data-toggle="tooltip" data-placement="top" title="The password must have at least one lowercase letter, one uppercase letter, one number, a minimum length of 8 characters and one special character (@c1 ,#, $, %, ^, &, +, =, -, *, /, !, (, ), ?, ¡)." disabled required>
                                        <span class="input-group-btn" id="spanbtneditpw">
                                            <button type="button" class="btn btn-warning" id="btnChangePassword" data-toggle="tooltip" title="Change password">
                                                <i class="fa fa-unlock" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="editstatus">Status</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="editstatus" name="editstatus" required>
                                        <option value="1">Active</option>
                                        <option value="0">Inactive</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary ladda-button" id="edituser" data-style="expand-left">Edit</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/laddaStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/ladda")
    <script src="~/Scripts/Customs/Manager/user.js"></script>
}
