﻿
@{
    ViewBag.Title = "Profiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#mdlAdd"><i class="fa fa-plus"></i> Add profile</button>
                    </div>
                </div>
                <div class="ibox-content" id="iboxTableProfiles">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="tblProfiles">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Creation date</th>
                                    <th>Create by</th>
                                    <th>Modification date</th>
                                    <th>Modified by </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="mdlAdd" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>*@
                <i class="fa fa-plus-square modal-icon"></i>
                <h4 class="modal-title">Nuevo Registro</h4>
                <small class="font-bold">Crear un nuevo registro de gerencia.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form" id="frmCrear" name="frmCrear" class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-3">Nombre</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="txtNombre" name="txtNombre" autocomplete="off" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Abreviatura</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="txtAbreviatura" name="txtAbreviatura" autocomplete="off" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="">Estado:</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="estado" name="estado" required>
                                        <option value="1">VIGENTE</option>
                                        <option value="0">NO VIGENTE</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="crear">Crear</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="mdlEditar" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>*@
                <i class="fa fa-pencil-square modal-icon"></i>
                <h4 class="modal-title">Editar Registro</h4>
                <small class="font-bold">Editar registro de gerencia.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form" id="frmEditar" name="frmEditar" class="form-horizontal">
                            <input type="text" class="form-control hidden" id="txtEditarId" name="txtEditarId" disabled="disabled" />
                            <div class="form-group">
                                <label class="control-label col-md-2">Nombre</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtEditarNombre" name="txtEditarNombre" autocomplete="off" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Abreviatura</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtEditarAbreviatura" name="txtEditarAbreviatura" autocomplete="off" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="">Estado:</label>
                                <div class="col-md-10">
                                    <select class="form-control" id="editestado" name="editestado" required>
                                        <option value="1">VIGENTE</option>
                                        <option value="0">NO VIGENTE</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="editar">Editar</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/validate")
    <script src="~/Scripts/Customs/Administrator/profiles.js"></script>
}